// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// layout
$navbar-height: 60px;
$sidebar-width: 230px;
$sidebar-width-mini: 67px;
$layout-transition-duration: 0.2s;
$menu-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet' height='100%25' width='100%25' viewBox='0 0 29 17.676'%3E%3Cpath id='list' d='M13.291,17.676a1.692,1.692,0,0,1,0-3.383H27.309a1.692,1.692,0,0,1,0,3.383Zm-11.6-7.147a1.691,1.691,0,1,1,0-3.382H27.309a1.691,1.691,0,1,1,0,3.382Zm0-7.147A1.691,1.691,0,1,1,1.692,0H15.709a1.691,1.691,0,1,1,0,3.382Z' fill='%232c6bfe'%3E%3C/path%3E%3C/svg%3E");
$menu-icon-mini: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet' height='100%25' width='100%25' viewBox='0 0 29.399 17.676'%3E%3Cpath id='list' d='M1.291,17.676a1.692,1.692,0,0,1,0-3.383H26.909a1.692,1.692,0,0,1,0,3.383Zm.4-7.147a1.691,1.691,0,1,1,0-3.382H27.309a1.691,1.691,0,1,1,0,3.382Zm0-7.147A1.691,1.691,0,1,1,1.692,0H27.309a1.691,1.691,0,1,1,0,3.382Z' transform='translate(0.4)' fill='%232c6bfe'%3E%3C/path%3E%3C/svg%3E");