.progress {
	display: block;
	line-height: 0;
	height: 14px;
	font-size: 14px;
	background-color: #d9e4ff;
    border-radius: 20px;
	position: relative;
	overflow: hidden;
	.progress-status {
		border-radius: inherit;
		position: absolute;
		font-size: 12px;
		top: 0;
		left: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		transition: width .6s ease;
		background: linear-gradient(90deg,#ffa700,#f9661e) 0 0 no-repeat padding-box;
	}
}